{% extends 'base.html' %}

{% block content %}
<div class="main">
    <h2>List of Projects and Estimates</h2>
    <nav class="nav">
        <a class="anchor-btn" href="{% url 'home' %}">Home</a>
        <a class="anchor-btn" href="{% url 'project_add' %}">Create a new budget</a>
    </nav>
<ul>
    {% for project in projects %}
    <div class="row">
        <li class="list">
            <a class="link" href="{% url 'project_details' project.pk %}">{{ project.project_name }}</a>
        </li>
    </div>
    
    {% endfor %}
</ul>


</div>

{% endblock content %}